{% for comment in comments %}
    <div style="background-color: #9C1F06; width: 15%;margin-bottom: 5%;padding: 3%">
        <div style="background-color: white;">
            <a style="float:left" href="{{ path('core_blog_comment_update', {'postId': postId, 'id': comment.id}) }}">up comment</a>
            <a style="float:right" href="{{ path('core_blog_comment_delete', {'postId': postId,'id': comment.id}) }}">del comment</a>
            <br>
            <br>
            {{comment.content }}
        </div>
    </div>
{% endfor %}