<div style="background-color: #D9CC3B; width: 20%;margin-bottom: 5%;padding: 3%">
    <div style="background-color: white;">
        <a style="float:left" href="{{ path('core_blog_homepage_update', {'id': post.id}) }}">update post</a>
        <a style="float:right" href="{{ path('core_blog_homepage_delete', {'id': post.id}) }}">delete post</a>
        <br>
        <img src="{{ asset('uploads/posts/' ~ post.imageName)}}" />
        <br>
        {{ post.content }}
    </div>
</div>





