{% for photo in photos %}
    <div style="width: 20%; background-color: #0088CC;padding: 1%;margin-bottom: 2%">
        <div style="background-color: white">
            <a href="{{ path('core_photo_update', {'photoId': photo.id}) }}">update</a>
            <a href="{{ path('core_photo_delete', {'photoId': photo.id}) }}">delete</a>
            <br>
            <br>
            {{ photo.content }}
            <br>
            <br>
            <img src="{{ asset('uploads/photo/' ~ photo.imageName)}}" />
        </div>
    </div>
{% endfor %}
