<html>
<head></head>
<body>
{{ album.name }}
<br>
<br>
<a href="{{ path('core_photo_create', {'albumId': album.id}) }}">Poster une photo</a>
<br>
<br>
Listing photo
{% block photo %}
{{ render(controller('CoreGalleryBundle:Photo:index', {'albumId': album.id})) }}
{% endblock photo %}
</body>
</html>