<html>
<head></head>
<body>
{{ album.name }}
<br>
<br>
<a href="{{ path('core_photo_create', {'albumSlug': album.slug}) }}">Poster une photo</a>
<br>
<br>
Listing photo
{{ render(controller('CoreGalleryBundle:Photo:index', {'albumSlug': album.slug})) }}
</body>
</html>
