<html>
<head></head>
<body>
SHOW PHOTO
<br>
<br>
{{ photo.imageName }}
<br>
<br>
{{ photo.content }}
<br>
<br>
<img src="{{ asset('uploads/photo/' ~ photo.imageName)}}" />
<br>
<br>
<a href="{{ path('core_photo_comment_add', {'albumSlug': app.request.get('albumSlug'), 'photoId': photo.id}) }}">Poster un commentaire</a>
<br>
<br>
</body>
</html>